
.thread_snippet {
    position: relative;
    padding: 18px;
    margin-bottom: 20px;
    background: var(--white);
    border-radius: 3px;
}
.thread_snippet .ts_title {
    display: block;
    margin-bottom: 12px;
    font-size: var(--fs_xl);
}
.thread_snippet .ts_desc {
    padding-right: 20px;
    margin-bottom: 18px;
    font-size: var(--fs_m);
    color: var(--d_grey);
    /* text-overflow: ellipsis; */
    overflow: hidden;
    white-space: nowrap;
}

.ts_footer {
    display: flex;
}
.ts_footer .ts_author {
    display: inline-block;
    padding-left: 10px;
}
.ts_footer .ts_metrics {
    color: var(--d_grey);
}
