
.thread_snippet {
    width: 100%;
    position: relative;
    padding: 18px;
    margin-bottom: 20px;
    background: var(--white);
    border-radius: 3px;
}
.thread_snippet .ts_title {
    display: block;
    margin-bottom: 12px;
    font-size: var(--fs_l);
}
.thread_snippet .ts_desc {
    margin-bottom: 18px;
    font-size: var(--fs_s);
    color: var(--d_grey);
    /* text-overflow: ellipsis; */
    overflow: hidden;
    /* white-space: nowrap; */
}

.ts_god {
    position: absolute;
    top: 12px;
    right: 12px;
    color: var(--d_grey);
}

.ts_footer {
    display: flex;
}
.ts_footer .ts_author {
    color: var(--dual);
}
.ts_footer .ts_metrics {
    display: flex;
    color: var(--d_grey);
    gap: 0 15px;
}
.ts_footer .ts_metrics span {
    display: flex;
}