
/* import google Jost */

:root {
    /* fonts */
    --jost: 'Jost';

    --fs_xl: 27px;
    --fs_l: 23px;
    --fs_m: 21px;
    --fs_ms: 20px;
    --fs_mss: 18px;
    --fs_msss: 17px;
    --fs: 16px;
    --fs_s: 15px;
    --fs_xs: 13.5px;
    --fs_xxs: 12px;
    --fs_xxxs: 11px;

    font-family: var(--jost), sans-serif;
    font-size: var(--fs);
    
    overflow-x: hidden;

    /* Colours */
    --white: #fafafa;
    --black: #333;
    --ll_grey: #e5ebf1;
    --l_grey: #bcbedc;
    --grey: #d3d3d3;
    --d_grey: #9299a1;
    --dd_grey: #7a858f;
    --ddd_grey: #5c728a;
    --d4_grey: #495b6e;

    --main_ll: #bbb9e7;
    --main_l: #7f80af;
    --main: #2b2d42;
    --main_d: #20243b;
    --main_dd: #191e34;

    --dual: #7e3ade;
    --dual_l: #a968f1;

    --text_color: var(--black);
    --background_color: var(--ll_grey);

    --z-nav: 999;
}

::selection {
    background: rgba(11, 11, 11, 0.2);
}
::-moz-selection {
    background: rgba(11, 11, 11, 0.2);
}
::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

*, ::after, ::before {
    box-sizing: border-box;
}
