
/* import google Jost */

:root {
    /* fonts */
    --jost: 'Jost';

    --fs_xl: 27px;
    --fs_l: 23px;
    --fs_m: 21px;
    --fs_ms: 20px;
    --fs_mss: 18px;
    --fs_msss: 17px;
    --fs: 16px;
    --fs_s: 15px;
    --fs_xs: 13.5px;
    --fs_xxs: 12px;
    --fs_xxxs: 11px;

    font-family: var(--jost), sans-serif;
    font-size: var(--fs);
    
    overflow-x: hidden;

    /* Colours */
    --white: #fafafa;
    --black: #333;
    --grey: #d3d3d3;
    --l_grey: #edf1f5;
    --d_grey: #9299a1;
    --dd_grey: #7a858f;
    --ddd_grey: #5c728a;
    --d4_grey: #495b6e;

    --main_cl:  #9256f3;

    --text_color: var(--black);
    --background_color: var(--l_grey);
}

::selection {
    background: rgba(11, 11, 11, 0.2);
}
::-moz-selection {
    background: rgba(11, 11, 11, 0.2);
}
::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

*, ::after, ::before {
    box-sizing: border-box;
}
