
body {
    background-color: var(--background_color);
    color: var(--text_color);
}

a {
    color: inherit;
    text-decoration: none;
    background-color: transparent;
    outline: 0;
    transition: .15s;
}

.space {
    flex: 1;
    pointer-events: none;
}


/* 


metrics/author
img
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 3px;
  display: inline-block;
  height: 25px;
  vertical-align: text-top;
  width: 25px;

*/