
body {
    background-color: var(--background_color);
    color: var(--text_color);
}

a {
    color: inherit;
    text-decoration: none;
    background-color: transparent;
    outline: 0;
    transition: .15s;
}

button {
    font-family: var(--jost);
    background-color: var(--dual);
}

.space {
    flex: 1;
    pointer-events: none;
}

.icon {
    width: var(--fs_xs);
    margin-right: 5px;
}