
.container {
    height: 95vh;
    background-image: url('../../assets/help.png');
    background-size: auto 80%;
    background-repeat: no-repeat;
    background-position: center;
    background-color: ghostwhite;
    text-align: center;
    padding: 25px;
}