
.logsing_contain {
    width: 300px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin: 25px auto 0 auto;
    border-radius: 4px;
}
.logsing_title {
    padding-bottom: 10px;
}
.log_inpt {
    display: flex;
    align-items: center;
    padding-bottom: 10px;
    font-weight: 600;
}
  
input[type="text"]
, input[type="password"] {
    padding: 10px;
    border-radius: 4px;
    box-shadow: none;
}
  
.log_sub {
    padding: 10px;
    margin-top: 10px;
    background-color: var(--dual);
    color: var(--white);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: .15s;
}
.log_sub:hover {
    background-color: var(--dual_d);
}