
.homepage-container {
    height: var(--hero_ht);
    background-image: url('../../assets/ie.jpeg');
    background-size: cover;
    background-position: center;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    color: var(--white);
    font-size: 56px;
}

.chatbutton {
    margin-top: 15px;
}